body {
    background: rgb(202, 90, 90);
}

label {
    cursor: pointer;
}

.accordion {
    width: 70%;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}

.accordion-icon {
    color: #fff;
    transition: 0.5s all;
    opacity: 0;
}


.accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    transition: 0.5s all;
    border-bottom: 1px solid #fff;
}

.accordion__content {
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    transition: 0.5s all;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    font-size: 15px;
}

.accordion__content img {
    max-width: 100%;
    margin: 0 auto;
}

.accordion-input {
    display: none;
}

/* accordion hover */

.accordion:hover .accordion-icon {
    opacity: 1;
}

.accordion:hover .accordion-title {
    color: #fff;
}

.accordion-container {
    transition: 0.5s ease;
}

.accordion-container:hover>.accordion__content {
    padding: 20px;
    visibility: visible;
    max-height: initial;
    opacity: 1;
}

/* accordion click */

.accordion-title {
    color: blue;
}


.accordion-input:checked+.accordion-title {
    color: #fff;
}

.accordion-input:checked+.accordion-title+.accordion__content {
    padding: 20px;
    visibility: visible;
    max-height: initial;
    opacity: 1;
}

.accordion-input:checked+.accordion-title>.accordion-icon {
    transform: rotate(45deg);
}